.reason-text {
    background-color: inherit;
    border: 0px;
    border-color: transparent;
}

.person {
    font-size: 100%;
}

.container-agendas {
    visibility: hidden;
}

.remove-agenda {
    float: right;
}

#participants {
    line-height: 2em;
}

#absentees {
    line-height: 2em;
}

body {
    padding-top: 70px;
}

.btn-submit {
    float: right;
    margin-top: 20px;
    margin-left: 10px;
}