.reason-text {
    background-color: inherit;
    border: 0px;
    border-color: transparent;
}

.person {
    font-size: 100%;
}

.container-agendas {
    visibility: hidden;
}

.remove-agenda {
    float: right;
}

#participants {
    line-height: 2em;
}

#absentees {
    line-height: 2em;
}